.field {
    position: absolute;
    background: #FF416C;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    border: solid 1px black;
    height: 60px;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.closeField {
    display: none;
}

.formelement {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
}

.element {
    flex-basis: auto;
}


/* .logotype{
    
}
.home{
} */

.registration {
    border-left: 2px solid black;
    margin-left: 2px;
    padding-right: 2px;
}