@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    /*color: #fff;*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

a,
button,
input,
svg,
svg path,
img,
rect {
    transition: all 0.5s ease;
    text-decoration: none;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
    outline: none;
}

ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    max-width: 100%;
}

div,
a,
li,
input {
    box-sizing: border-box;
}


/* fin-page */

.fin-page {
    display: flex;
}


/* navigation */

.navigation {
    width: 100%;
    max-width: 218px;
    background-color: #F3F5F8;
    padding-left: 21px;
}

.navigation__logo {
    width: 218px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 13px 0;
    display: block;
    color: #7096FF;
    text-decoration: none;
}

.navigation .navigation__logo {
    display: none;
}

.navigation__list {
    margin-top: 29px;
    margin-left: -21px;
}

.navigation__list li {
    padding: 11px 14px;
    border-left: 7px solid transparent;
    margin-bottom: 5px;
}

.navigation__list li.active {
    background-color: #E8EDFC;
    border-left: 7px solid #7096FF;
}

.navigation__list li.active a::before,
.navigation__setting.active::before {
    border: 2px solid #7096FF;
}

.navigation__list li a,
.navigation__setting {
    display: flex;
    align-items: center;
    line-height: 19px;
    color: #A9A9A9;
    text-decoration: none;
}

.navigation__list li a:before,
.navigation__setting::before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border: 1px solid #A9A9A9;
    border-radius: 100px;
    margin-right: 12px;
}

.navigation__setting {
    margin-top: 284px;
    padding-left: 5px;
}

.navigation__user {
    background-color: #7096FF;
    border-radius: 9px;
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 19px;
    padding: 12px;
    color: #FFFFFF;
    position: relative;
    max-width: 162px;
    width: 100%;
    margin-top: 20px;
    margin-left: 4px;
    margin-bottom: 35px;
}

.navigation__user span {
    position: absolute;
    display: block;
    width: 1px;
    background-color: #AFC2FF;
    height: 100%;
    left: 35px;
}

.navigation__user svg {
    margin-right: 20px;
}


/* wrapper */

.wrapper {
    width: 100%;
}

.wrapper__menu {
    background-color: #F3F5F8;
    display: flex;
    padding: 14px 35px;
}

.wrapper__menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 730px;
    width: 100%;
}

.wrapper__menu ul li {
    width: 100%;
    max-width: 110px;
}

.wrapper__menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7096FF;
    border-radius: 100px;
    width: 100%;
    text-decoration: none;
    line-height: 19px;
    color: #717171;
    padding: 5px;
}

.wrapper__menu ul li a:hover,
.wrapper__filter:hover {
    background-color: #7096FF;
    color: #fff;
}

.wrapper__menu ul li a:hover svg path,
.wrapper__filter:hover svg path,
.wrapper__filter:hover svg rect {
    fill: #fff;
}

.wrapper__menu ul li:last-child {
    max-width: 130px;
}

.wrapper__menu ul li svg {
    margin-right: 6px;
}

.wrapper__search {
    margin-left: 44px;
}

.wrapper__search form {
    position: relative;
}

.wrapper__search input,
.wrapper__search button {
    outline: none;
    background: transparent;
}

.wrapper__search input {
    width: 230px;
    height: 30px;
    padding-left: 30px;
    border-radius: 100px;
    border: 1px solid #7096FF;
    color: #CDCDCD;
    font-family: 'Noto Sans', sans-serif;
}

input::placeholder {
    color: #CDCDCD;
}

.wrapper__search button {
    border: none;
    height: 16px;
    width: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    cursor: pointer;
}

.wrapper__search button:before {
    content: "";
    background: url(../img/search.svg) no-repeat center/cover;
    display: block;
    width: 12px;
    height: 16px;
}


/* wrapper__company */

.wrapper__company {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.wrapper__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    line-height: 22px;
    color: #AFC2FF;
    width: 100%;
    max-width: 165px;
    height: 96px;
    margin-right: 30px;
    border-radius: 9px;
    text-decoration: none;
    border: 1px solid #AFC2FF;
}

.wrapper__box h3 {
    font-weight: 700;
}

.wrapper__box p {
    font-weight: 400;
}

.wrapper__box.active {
    color: #fff;
    background-color: #7096FF;
}


/* .wrapper__filters */

.wrapper__filters {
    padding: 20px;
    display: flex;
    align-items: center;
    /* max-width: 1070px; */
}

.wrapper__create {
    width: 100%;
    max-width: 116px;
    background: #7096FF;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    line-height: 19px;
    color: #FFFFFF;
    padding: 7px 11px;
    text-decoration: none;
}

.wrapper__create span {
    position: absolute;
    display: block;
    width: 1px;
    background-color: #AFC2FF;
    height: 100%;
    right: 32px;
}

.wrapper__create svg {
    transform: rotate(-90deg);
}

.wrapper__create:hover svg {
    transform: rotate(-270deg);
}

.wrapper__mounth {
    background: #F5F5F5;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-left: 15px;
}

.wrapper__mounth a:last-child svg {
    transform: rotate(180deg);
}

.wrapper__mounth p {
    line-height: 19px;
    color: #7096FF;
}

.wrapper__filter {
    border: 1px solid #7096FF;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 19px;
    color: #7096FF;
    margin-left: auto;
    padding: 6px;
    width: 100%;
    max-width: 116px;
}

.wrapper__filter svg {
    margin-right: 6px;
}


/* table */

.table {
    padding: 10px;
}

.table__head {
    display: flex;
    padding: 5px 0 5px 40px;
}

.table__head p {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #717171;
}

.table__head p:first-child,
.table__data {
    width: 154px;
}

.table__head p:nth-child(2),
.table__paysend {
    width: 163px;
}

.table__head p:nth-child(3),
.table__account {
    width: 156px;
}

.table__head p:nth-child(4),
.table__counterparty {
    width: 161px;
}

.table__head p:nth-child(5),
.table__summury {
    width: 107px;
}


/* table__item */

.table__item {
    padding: 12px 11px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #FAFAFA 0%, #E1E1E1 100%);
    border-radius: 12px;
    width: 100%;
    margin-bottom: 5px;
}

.table__figure {
    width: 27px;
}

.table__data {
    display: flex;
}

.table__data p:last-child {
    margin-left: 11px;
}

.table__item p {
    line-height: 19px;
    color: #969696;
}

.table__summury p {
    font-weight: 700;
}

.table__item a {
    font-size: 12px;
    line-height: 16px;
    color: #7096FF;
    border: 1px solid #7096FF;
    border-radius: 7px;
    width: 100%;
    max-width: 94px;
    text-align: center;
    padding: 4px;
    display: inline-block;
}


/* table__setting */

.table__setting {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    max-width: 1043px;
    color: #717171;
    padding: 13px 0;
}

.table__switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 17px;
}

.table__switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7096FF;
    border: 1px solid #7096FF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    top: 51%;
    -webkit-transform: translate(13px, -50%);
    -ms-transform: translate(153px, -50%);
    transform: translate(13px, -50%);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: transparent;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7096FF;
}

input:checked+.slider:before {
    transform: translateY(-50%);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

input:checked+.slider.round:before {
    background-color: #7096FF;
}

.slider.round:before {
    border-radius: 50%;
    background-color: #fff;
}

.table__fullscreen {
    display: flex;
    align-items: center;
}

.table__fullscreen p {
    margin-left: 6px;
}


/* table__sum */

.table__sum {
    max-width: 85px;
    margin-left: 494px;
}


/* table__show */

.table__show {
    margin-left: 105px;
}

.table__show_over {
    color: #717171;
    display: flex;
    align-items: center;
}

.table__show_over span {
    display: block;
    margin: 0 2px 0 5px;
}


/* table__pages */

.table__pages,
.table__btns {
    display: flex;
    align-items: center;
}

.table__pages {
    margin-left: 23px;
}

.table__btns {
    margin-left: 6px;
    width: 18px;
    justify-content: space-between;
}

.gumb,
.table__mob,
.navigation .wrapper__search {
    display: none;
}

.menu-fixed {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px 20px;
    width: 100%;
    background-color: #F3F5F8;
    z-index: 1;
}

.wrapper__scroll {
    width: 100%;
}

.navigation,
.wrapper {
    /*margin-top: 58px;*/
}

.dropdown {
    position: relative
}
.dropdown ul {
    display: none
}
.dropdown-open ul {
    display: block;
    position: absolute;
    left: 1.3rem;
    top: 12.1rem;
    background: #7096ff;
    border: 1px solid;
    border-radius: 5px
}